.gallery {
    display: flex;
    border-bottom: solid 1px rgba($color-grey-dark-1, 0.2);

    &__item {
        flex: 1;
    }

    &__photo {
        width: 100%;
        display: block;
        cursor: pointer;
    }
}