a {
    text-decoration: none;
    
    h2 {
        font-family: 'Permanent Marker', cursive;
        color: $color-primary-light;
        text-align: center;
        margin-top: 2rem;
        font-size: 4rem;
        text-shadow: 2px 2px 2px $color-grey-dark-1;
    }
}